@page
@model ExoneracionProject.Pages.Job.CreateModel

@{
    ViewData["Title"] = "Create";
}

<script src="~/js/amount_format.js"></script>

<h1>Create</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row col-12">
                <div class="form-group col-4">
                    <label asp-for="Job.JobName" class="control-label"> Job Title</label>
                    <input asp-for="Job.JobName" class="form-control" />
                    <span asp-validation-for="Job.JobName" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="Job.MinSalary" class="control-label"></label>
                    <input asp-for="Job.MinSalary" id="min" class="form-control" />
                    <span asp-validation-for="Job.MinSalary" class="text-danger"></span>
                </div>
                -
                <div class="form-group col-4">
                    <label asp-for="Job.MaxSalary" class="control-label"></label>
                    <input data-type="currency" id="max" type="text" asp-for="Job.MaxSalary" class="form-control" />
                    <span asp-validation-for="Job.MaxSalary" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Job.Status" /> @Html.DisplayNameFor(model => model.Job.Status)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" onclick="CreateJob()" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

<script>
    function CreateJob(minSal, maxSal) {
        var min = $('#min').val();
        var max = $('#max').val();

        if (parseInt(min) > parseInt(max)) {
            alert("Oferta de salario invalido");
            event.preventDefault();
            location.reload();
        }
    }
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
